.main {
  width: 60%;
  height: 90vh;
  margin: 0 auto;
  padding-left: 6%;
}
.list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.link {
  width: 90%;
  height: 3rem;
  display: flex;
  align-items: center;
  color: #000;
}
.item {
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
}
.checkbox {
  width: 1.3rem;
  margin: 0 2rem;
  cursor: pointer;
}
.isRead {
  background-color: #eee;
}
.name {
  width: 10%;
}
.content {
  width: 60%;
  line-height: 110%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.date {
  width: 10%;
}
